@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Kalnia:wght@100..700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Dancing+Script:wght@400..700&family=Kalnia:wght@100..700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

.extraordinarySection {
  width: 100%;
  height: 100vh;
  left: 0;
  background-color: #0b0a09;
  padding: 0px 60px 30px 0px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  will-change: transform, position;
}

.keepItFixed {
  position: fixed;
  top: 0;
  z-index: 50;
  transition: transform 1.2s cubic-bezier(0.25, 1, 0.3, 1);
}

.makeItScrollable {
  position: absolute;
  top: 0;
  z-index: 50;
  transition: none;
}

.slideOutBelow {
  transform: translateY(100%);
  z-index: 30;
}

.slideInActive {
  transform: translateY(0%);
  z-index: 30;
}

.maincontainer {
  position: relative;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  margin-left: 7%;

}

.leftContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: all 1.8s cubic-bezier(0.76, 0, 0.24, 1);
  will-change: transform, top, left, opacity;
  opacity: 1;
  width: 100%;
  top: 15%;
  left: 5%;
}

.textCentered,
.textMoveToPosition {
  top: 1%;
  left: 1%;
  transform: translate(0, 0);
}

.textDisappear {
  top: -25rem;
  left: -10rem;
  opacity: 0;
  transform: scale(0.75);
}


.container {
  position: absolute;
  bottom: 0;
  right: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 700px;
  align-items: center;
  gap: 10px;
  will-change: transform, opacity, width, max-width, bottom, right;
  transition: all 2s cubic-bezier(0.76, 0, 0.24, 1);

}

.containerHidden {
  opacity: 0;
  transform: translateY(500px);
}

.containerReveal {
  opacity: 1;
  transform: translateY(0);
}

.containerFinalStage {
  opacity: 1;
  bottom: 45%;
  right: 45%;
  transform: translate(50%, 50%);
  max-width: 1100px;
  width: 90%;
  gap: 60px;

}

.containerExitUp {
  opacity: 0;
  bottom: 150%;
  right: 50%;
  transform: translate(50%, -50%);
  transition: all 2s cubic-bezier(0.76, 0, 0.24, 1);
}

/* ==========================================================================
   4. STEP 3: NEW CONTAINER LOGIC (BOTTOM SLIDE + MORPH EFFECT)
   ========================================================================== */
.stepSixContainer,
.stepFiveContainer,
.stepFourContainer,
.stepThreeContainer {
  position: absolute;
  left: 55%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  max-width: 1100px;
  align-items: center;
  gap: 60px;
  will-change: transform, opacity;
}

/* CHANGE HERE: Shuruat me ye absolute center se 150px neeche (bottom me) invisible betha rahega */
.stepThreeHidden {
  opacity: 0;
  top: 50%;
  transform: translate(-1300px, 250px) scale(0.5);
  /* Position aur Size dono ko ek sath rakha */
  transition: all 2.5s cubic-bezier(0.76, 0, 0.24, 1);
  pointer-events: none;
  /* transition: all 1.2s cubic-bezier(0.76, 0, 0.24, 1); */
}

.stepThreeReveal {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 2.2s cubic-bezier(0.76, 0, 0.24, 1) 0.3s;
}

/* --- STEP 3 TEXT SCALE LOGIC --- */
.step3LeftContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  padding-right: 20px;
  will-change: transform, opacity;
}

/* Shuruat me text chota (scale 0.5) aur transparent rahega */
.step3TextScaleDown {
  opacity: 0;
  transform: scale(0.5);
  transition: all 1s ease;
}

.step3TextScaleUp {
  background-image: radial-gradient(circle 800px at top left,
      #fff0d4 0%,
      #ffae0028 5%,
      #df981e0f 30%,
      #30200515 40%,
      /* #0b0a09 70%, */
      #0b0a09 100%);

  overflow: visible;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  height: 85%;
  padding-left: 20px;
  position: relative;
  z-index: 1;

}

.step3TextScaleUp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-top-left-radius: 50%;
  border-top-right-radius: 50%;

  border: 1px solid #9a7a3d;
  border-bottom: none;

  pointer-events: none;
  z-index: 1;

  /* RIGHT SIDE SYMMETRY: standard 0deg se right-side curve ke angles ko perfectly soft blend kiya hai */
  -webkit-mask-image:
    conic-gradient(from 0deg at 67% 30%,
      black 0deg,
      transparent 40deg,
      /* Top se aakar line smoothly yahan fade-out hui */
      transparent 75deg,
      /* --- 20% ABSOLUTE GAP: Yahan border poori tarah khatam hai --- */
      black 135deg,
      /* Right-center ke paas se line smoothly fade-in hona shuru hui */
      black 360deg
      /* Baki pure left aur top ka hissa solid rahega */
    ),
    linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.4) 60%, transparent 100%);

  mask-image:
    conic-gradient(from 0deg at 67% 30%,
      black 0deg,
      transparent 40deg,
      transparent 75deg,
      black 135deg,
      black 360deg),
    linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.4) 60%, transparent 100%);

  -webkit-mask-composite: source-in;
  mask-composite: intersect;
}

.step3TextScaleUp::after {
  content: "";
  filter: blur(2px);
  z-index: 1;
  background: radial-gradient(circle, #ffedc2 0%, #ae8a35a8 30%, #0000 90%);
  width: 2px;
  height: 150px;
  position: absolute;
  border-top-right-radius: 45%;
  top: 45%;
  left: 1;
  transform: translate(-50%);
}

.step3RightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step3ImageWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  will-change: max-width, aspect-ratio, transform;
  transition: max-width 2s cubic-bezier(0.76, 0, 0.24, 1) 0.4s,
    aspect-ratio 2.2s cubic-bezier(0.76, 0, 0.24, 1) 0.4s,
    transform 2.2s cubic-bezier(0.76, 0, 0.24, 1) 0.4s;
}

.step3ImageSquare {
  max-width: 250px;
  aspect-ratio: 1 / 1;
  transform: scale(0.9);
}

.step3ImageExpanded {
  max-width: 500px;
  aspect-ratio: 0.9 / 1.03;
  transform: scale(1);
}


.step3Heading {
  background-image: linear-gradient(180deg, #e7bd65 0%, #f2e18b 50%, #b98d3d 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
  margin: 0 0 16px 0;
  font-size: 16vw;
  font-weight: 400;
  line-height: 14rem;
  position: absolute;
  right: -10%;
  font-family: "Kalnia", serif;
  z-index: 20;

}

.step3Divider {
  width: 70px;
  height: 1px;
  background-color: #e7bd65;
  margin-bottom: 24px;
}

.diviStep3Descrip {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  max-width: 350px;

}

.step3Description {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  font-weight: 300;
  color: #fff5e2;
  font-family: 'Playfair Display', serif;
  margin-left: 20px;
  font-size: clamp(16px, 1.5vw, 18px);
  line-height: 1.5;
  margin-top: 55px;
}

/* extraordinary.module.css */
.thestart,
.mainthe {
  display: flex;
  font-size: 8vw;
  font-weight: 300;
  margin: 0;
  letter-spacing: 1px;
  font-family: "cormorant garamond", serif;
  /* Yaha background-clip ya text-fill nahi likhna hai */
}

.thestart {
  font-size: 4vw;
  font-weight: 450;
  margin-top: 20px;
}

.fivenumber {
  font-size: 9vw;
  font-family: "Cormorant Garamond", serif;

  /* 2. NAYA CODE: Yeh numbers ko bilkul ek barabar aur seedha (Lining style) karega */
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

.minttop {
  margin-top: 7vh;
  margin-left: 10px;
  font-weight: 450;
}

.vashitop {
  margin-top: 15vh;
  margin-left: 10px;
  font-weight: 500;
  font-size: 9.5vw;
}

.text05 {
  font-size: 9vw;
  font-family: "cormorant garamond", serif;
  color: #b88f421f;
  line-height: 20rem;
  margin-top: 200px;

}

.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 0.8 / 1.02;
  max-width: 300px;
  overflow: hidden;
  transition: max-width 2s cubic-bezier(0.76, 0, 0.24, 1), aspect-ratio 2s ease;
  z-index: 10;

}

.cornerHighlight {
  position: absolute;
  top: -10px;
  left: 10px;
  right: 55%;
  bottom: 10px;
  pointer-events: none;
  z-index: 2;
}

/* TOP-LEFT CORNER Border */
.cornerHighlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border-top: 2px solid #cea66052;
  border-left: 2px solid #cea66052;
}

/* BOTTOM-RIGHT CORNER Border */
.cornerHighlight::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 80px;
  border-bottom: 2px solid #cea66052;
  border-right: 2px solid #cea66052;
}

.imageLarge {
  max-width: 500px;
  aspect-ratio: 0.8 / 1.02;
}

.buildingImage {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.bgcircle {
  height: 300px;
  width: 300px;
  position: absolute;
  left: -10%;
  border-radius: 50%;
  top: 30%;
  border: 1px solid #e9c279ac;
  z-index: 5;
}

.bgcircleremove {
  display: none;
}

.rightContent {
  display: flex;
  flex-direction: column;
  transition: all 2s cubic-bezier(0.76, 0, 0.24, 1);
  position: relative;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.rightContentLarge {
  background-image: radial-gradient(circle 800px at top right,
      #fff0d4 0%,
      #ffae0028 5%,
      #df981e0f 30%,
      #30200515 40%,
      #0b0a09 100%);

  overflow: visible;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  height: 85%;
  padding-left: 20px;
  position: relative;
}

.rightContentLarge::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-top-left-radius: 50%;
  border-top-right-radius: 50%;

  border: 1px solid #9a7a3d;
  border-bottom: none;

  pointer-events: none;
  z-index: 1;

  -webkit-mask-image:
    conic-gradient(from 0deg at 33% 30%,
      black 0deg,
      black 220deg,
      transparent 280deg,
      transparent 310deg,
      black 350deg,
      black 360deg),
    linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.4) 60%, transparent 100%);

  mask-image:
    conic-gradient(from 0deg at 33% 30%,
      black 0deg,
      black 220deg,
      transparent 280deg,
      transparent 310deg,
      black 350deg,
      black 360deg),
    linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.4) 60%, transparent 100%);

  -webkit-mask-composite: source-in;
  mask-composite: intersect;
}

.rightContentLarge::after {
  content: "";
  filter: blur(2px);
  z-index: 1;
  background: radial-gradient(circle, #ffedc2 0%, #ae8a35a8 30%, #0000 90%);
  width: 2px;
  height: 150px;
  position: absolute;
  border-top-right-radius: 45%;
  top: 40%;
  right: -1;
  transform: translate(-50%);
}

.diviDescripcon,
.diviDescrip {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-left: 15px;
  top: 80%;

}

.diviDescripcon {
  top: 50%;

}

.rightContentLarge .diviDescrip {
  top: 43%;
  padding-left: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
}



.headingRight {
  font-size: 60px;
  font-weight: 300;
  color: #e7bd65;
  line-height: 1.2;
  margin: 0 0 16px 0;
  font-family: 'Playfair Display', serif;
  text-decoration: "italic";
  transition: font-size 2s cubic-bezier(0.76, 0, 0.24, 1);

}

.step6Heading,
.step4Heading,
.rightContentLarge .headingRight {
  font-size: 16vw;
  font-weight: 400;
  line-height: 14rem;
  position: absolute;
  background-image: linear-gradient(180deg, #e7bd65 0%, #f2e18b 50%, #b98d3d 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  left: -5%;
  font-family: "Kalnia", serif;
  z-index: 20;
}


.step6Heading {
  left: 3%;
}



.divider {
  width: 40px;
  height: 1.5px;
  background-color: #e7bd65;
  margin-bottom: 15px;

}

.rightContentLarge .divider {
  width: 70px;
  margin-bottom: 24px;

}

.description {
  font-size: clamp(14px, 1.2vw, 16px);
  font-weight: 300;
  color: #fff5e2;
  max-width: 280px;
  font-family: 'Playfair Display', serif;
  transition: margin-top 2s cubic-bezier(0.76, 0, 0.24, 1)
    /* font-style: italic; */
}

.rightContentLarge .description {
  font-size: clamp(16px, 1.5vw, 18px);
  max-width: 300px;
  line-height: 1.5;
  margin-left: 20px;
  line-height: 2;
  margin-top: 50px;
}

/* मुख्य कंटेनर */
.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
  gap: 15px;
  z-index: 10;
}


/* Purani class ko aise hi rehne dein */
.circleV {
  display: flex;
  color: #bfae916c;
  /* Default halka color */
  font-size: 17vh;
  font-weight: 500;
  line-height: 7rem;
  transition: color 0.5s ease;
  font-family: "Kalnia", serif;
}

.activeLetter {
  background-image: linear-gradient(180deg, #e7bd65 0%, #f2e18b 50%, #b98d3d 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(191, 174, 145, 0.3);
}


.letterspace {
  color: #e7bd65;
  letter-spacing: 0.2rem;
  font-size: clamp(18px, 1.8vw, 23px);
  font-family: "Kalnia", serif;
  line-height: 1rem;
  transition: font-size 2s cubic-bezier(0.76, 0, 0.24, 1),
    margin-top 2s cubic-bezier(0.76, 0, 0.24, 1),
    padding-bottom 2s cubic-bezier(0.76, 0, 0.24, 1);
}

.lettersSle,
.letterA,
.rightContentLarge .letterspace {
  font-size: clamp(18px, 4.7vw, 75px);
  line-height: 1.2;
  margin-top: 10px;
  font-family: "Kalnia", serif;
  position: absolute;
  background-image: linear-gradient(180deg, #e7bd65 0%, #f2e18b 50%, #b98d3d 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 10px;
  padding-bottom: 50px;
}

.lettersSle {
  font-size: 50px;
  width: 100%;
}

.letterspaSecon {
  font-size: 17px;
  line-height: 0rem;
  transition: font-size 2s cubic-bezier(0.76, 0, 0.24, 1),
    line-height 2s cubic-bezier(0.76, 0, 0.24, 1);
}

.letterspaSecontext,
.letterspaAsec,
.rightContentLarge .letterspaSecon {
  font-size: 28px;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}

.letterspaAsec {
  font-size: 25px;
  line-height: 2rem;


}

.activeIcon {
  font-size: 9px;
  margin: 10px 0px;
  color: #f7c66c;
  transform: rotate(45deg);
  transition: font-size 2s cubic-bezier(0.76, 0, 0.24, 1),
    margin 2s cubic-bezier(0.76, 0, 0.24, 1);

}

.lettersIcon {
  font-size: 13px;
  margin: 15px 0px;
  color: #f7c66c;
  transform: rotate(45deg);

}

.stepThreeExitUp {
  opacity: 0;
  top: -50%;
  /* Smoothly upar slide ho jayega */
  transform: translate(-50%, -50%);
  transition: all 2s cubic-bezier(0.76, 0, 0.24, 1);
}

.dotALettgrid,
.dotgridtwo,
.dotgrid {
  position: absolute;
  top: 24px;
  right: -20%;
  width: 110px;
  height: 110px;
  background-image: radial-gradient(circle, #f5d7501e 2.2px, transparent 2.2px);
  background-size: 12px 12px;
  opacity: .5;
}

.dotgridtwo {
  height: 70px;
  width: 140px;
  left: -7%;
  top: 65%;
}

.dotALettgrid {
  width: 99px;
  height: 150px;
  right: -12%;
}



/* Shuruat me absolute center se 150px neeche invisible betha rahega */
.stepFourHidden {
  opacity: 0;
  top: 50%;
  transform: translate(900px, 250px) scale(0.5);
  /* Position aur Size dono ko ek sath rakha */
  transition: all 2.5s cubic-bezier(0.76, 0, 0.24, 1);
  pointer-events: none;
  /* transition: all 1.2s cubic-bezier(0.76, 0, 0.24, 1); */
}

/* Active hone par smoothly bottom se slip hokar perfect center me shot ho jayega */
.stepFourReveal {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 2.2s cubic-bezier(0.76, 0, 0.24, 1) 0.3s;
}

/* --- STEP 4 IMAGE MORPH LOGIC (Image Left) --- */
.step4LeftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step4ImageWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  will-change: max-width, aspect-ratio, transform;
  transition: max-width 2s cubic-bezier(0.76, 0, 0.24, 1) 0.4s,
    aspect-ratio 2.2s cubic-bezier(0.76, 0, 0.24, 1) 0.4s,
    transform 2.2s cubic-bezier(0.76, 0, 0.24, 1) 0.4s;

}

/* Shuruat me image choti aur perfectly Square (1/1) shape me dabi rahegi */
.step4ImageSquare {
  max-width: 250px;
  aspect-ratio: 1 / 1;
  transform: scale(0.7);
}

.step6ImageExpanded,
.step5ImageExpanded,
.step4ImageExpanded {
  max-width: 500px;
  aspect-ratio: 0.9 / 1.03;
  transform: scale(1);
}

.section3ShiftLeft {
  opacity: 0;
  transform: translate(calc(-50% - 400px), -50%) scale(0.92);
  transition: transform 2.8s cubic-bezier(0.16, 1, 0.3, 1),
    opacity 2.8s cubic-bezier(0.16, 1, 0.3, 1);
}

.step4RightContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  will-change: transform, opacity;
}

.step4TextScaleDown {
  opacity: 0;
  transform: scale(0.5);
  transition: all 1s ease;
}

.step4TextScaleUp {
  background-image: radial-gradient(circle 800px at top right,
      #fff0d4 0%,
      #ffae0028 5%,
      #df981e0f 30%,
      #30200515 40%,
      #0b0a09 100%);

  overflow: visible;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  height: 85%;
  padding-left: 20px;
  position: relative;
}

.step4TextScaleUp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-top-left-radius: 50%;
  border-top-right-radius: 50%;

  border: 1px solid #9a7a3d;
  border-bottom: none;

  pointer-events: none;
  z-index: 1;

  -webkit-mask-image:
    conic-gradient(from 0deg at 50% 30%,
      black 0deg,
      black 220deg,
      transparent 280deg,
      transparent 310deg,
      black 350deg,
      black 360deg),
    linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.4) 60%, transparent 100%);

  mask-image:
    conic-gradient(from 0deg at 50% 30%,
      black 0deg,
      black 220deg,
      transparent 280deg,
      transparent 310deg,
      black 350deg,
      black 360deg),
    linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.4) 60%, transparent 100%);

  -webkit-mask-composite: source-in;
  mask-composite: intersect;
}

.step4TextScaleUp::after {
  content: "";
  filter: blur(2px);
  z-index: 1;
  background: radial-gradient(circle, #ffedc2 0%, #ae8a35a8 30%, #0000 90%);
  width: 2px;
  height: 150px;
  position: absolute;
  border-top-right-radius: 45%;
  top: 40%;
  right: -1;
  transform: translate(-50%);
}



.step4Divider {
  height: 1px;
  background-color: #e7bd65;
  width: 70px;
  margin-bottom: 24px;
}

.step4Description {
  color: #fff5e2;
  max-width: 280px;
  font-family: 'Playfair Display', serif;
  margin-left: 15px;
  font-size: clamp(16px, 1.5vw, 18px);
  max-width: 300px;
  line-height: 1.5;
  margin-top: 40px;
}

/* ==========================================================================
   8. STEP 5: H CONTAINER LOGIC (TEXT LEFT, IMAGE RIGHT)
   ========================================================================== */


.stepFiveHidden {
  opacity: 0;
  top: 50%;
  transform: translate(-1300px, 250px) scale(0.5);
  /* Position aur Size dono ko ek sath rakha */
  transition: all 2.5s cubic-bezier(0.76, 0, 0.24, 1);
  pointer-events: none;
  /* transition: all 1.2s cubic-bezier(0.76, 0, 0.24, 1); */
}

.stepFiveReveal {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 2.2s cubic-bezier(0.76, 0, 0.24, 1) 0.3s;
}

.stepFiveExitUp {
  opacity: 0;
  top: -50%;
  transform: translate(-50%, -50%);
  transition: all 2s cubic-bezier(0.76, 0, 0.24, 1);
}

.step5LeftContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  padding-right: 20px;
  will-change: transform, opacity;
}

.step5TextScaleDown {
  opacity: 0;
  transform: scale(0.5);
  transition: all 1s ease;
}

.step5TextScaleUp {
  background-image: radial-gradient(circle 800px at top left,
      #fff0d4 0%,
      #ffae0028 5%,
      #df981e0f 30%,
      #30200515 40%,
      /* #0b0a09 70%, */
      #0b0a09 100%);

  overflow: visible;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  height: 80%;
  padding-left: 20px;
  position: relative;
  z-index: 1;

}

.step5TextScaleUp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-top-left-radius: 50%;
  border-top-right-radius: 50%;

  border: 1px solid #9a7a3d;
  border-bottom: none;

  pointer-events: none;
  z-index: 1;

  -webkit-mask-image:
    conic-gradient(from 0deg at 67% 30%,
      black 0deg,
      transparent 40deg,
      transparent 75deg,
      black 135deg,
      black 360deg),
    linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.4) 60%, transparent 100%);

  mask-image:
    conic-gradient(from 0deg at 67% 30%,
      black 0deg,
      transparent 40deg,
      transparent 75deg,
      black 135deg,
      black 360deg),
    linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.4) 60%, transparent 100%);

  -webkit-mask-composite: source-in;
  mask-composite: intersect;
}

.step5TextScaleUp::after {
  content: "";
  filter: blur(2px);
  z-index: 1;
  background: radial-gradient(circle, #ffedc2 0%, #ae8a35a8 30%, #0000 90%);
  width: 2px;
  height: 150px;
  position: absolute;
  border-top-right-radius: 45%;
  top: 45%;
  left: 1;
  transform: translate(-50%);
}

.step5RightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step5ImageWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  will-change: max-width, aspect-ratio, transform;
  transition: max-width 2s cubic-bezier(0.76, 0, 0.24, 1) 0.4s, aspect-ratio 2.2s cubic-bezier(0.76, 0, 0.24, 1) 0.4s, transform 2.2s cubic-bezier(0.76, 0, 0.24, 1) 0.4s;
}

.step5ImageSquare {
  max-width: 250px;
  aspect-ratio: 1 / 1;
  transform: scale(0.9);
}



.step5Heading {
  background-image: linear-gradient(180deg, #e7bd65 0%, #f2e18b 50%, #b98d3d 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
  margin: 0 0 16px 0;
  font-size: 16vw;
  font-weight: 400;
  line-height: 14rem;
  position: absolute;
  right: -10%;
  font-family: "Kalnia", serif;
  z-index: 20;

}

.step5Divider {
  width: 70px;
  height: 1px;
  background-color: #e7bd65;
  margin-bottom: 24px;
}

.step5Description {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  font-weight: 300;
  color: #fff5e2;
  font-family: 'Playfair Display', serif;
  margin-left: 20px;
  font-size: clamp(16px, 1.5vw, 18px);
  line-height: 1.5;
  margin-top: 50px;
}


.stepSixHidden {
  opacity: 0;
  top: 50%;
  transform: translate(900px, 250px) scale(0.5);
  /* Position aur Size dono ko ek sath rakha */
  transition: all 2.5s cubic-bezier(0.76, 0, 0.24, 1);
  pointer-events: none;
  /* transition: all 1.2s cubic-bezier(0.76, 0, 0.24, 1); */
}

.stepSixReveal {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 2.2s cubic-bezier(0.76, 0, 0.24, 1) 0.3s;
}

.step6LeftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step6ImageWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  will-change: max-width, aspect-ratio, transform;
  transition: max-width 2s cubic-bezier(0.76, 0, 0.24, 1) 0.4s, aspect-ratio 2.2s cubic-bezier(0.76, 0, 0.24, 1) 0.4s, transform 2.2s cubic-bezier(0.76, 0, 0.24, 1) 0.4s;
}

.step6ImageSquare {
  max-width: 250px;
  aspect-ratio: 1 / 1;
  transform: scale(0.7);
}



.step6RightContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  will-change: transform, opacity;
}

.step6TextScaleDown {
  opacity: 0;
  transform: scale(0.5);
  transition: all 1s ease;
}

.step6TextScaleUp {
  background-image: radial-gradient(circle 800px at top right,
      #fff0d4 0%,
      #ffae0028 5%,
      #df981e0f 30%,
      #30200515 40%,
      #0b0a09 100%);

  overflow: visible;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  height: 85%;
  padding-left: 20px;
  position: relative;
}

/* Border waale hisse mein koi badlav nahi, yeh bilkul sahi hai */
.step6TextScaleUp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-top-left-radius: 50%;
  border-top-right-radius: 50%;

  border: 1px solid #9a7a3d;
  border-bottom: none;

  pointer-events: none;
  z-index: 1;

  -webkit-mask-image:
    conic-gradient(from 0deg at 40% 30%,
      black 0deg,
      black 210deg,
      transparent 275deg,
      transparent 305deg,
      black 345deg,
      black 360deg),
    linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.4) 60%, transparent 100%);

  mask-image:
    conic-gradient(from 0deg at 40% 30%,
      black 0deg,
      black 210deg,
      transparent 275deg,
      transparent 305deg,
      black 345deg,
      black 360deg),
    linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.4) 60%, transparent 100%);

  -webkit-mask-composite: source-in;
  mask-composite: intersect;
}

.step6TextScaleUp::after {
  content: "";
  filter: blur(2px);
  z-index: 1;
  background: radial-gradient(circle, #ffedc2 0%, #ae8a35a8 30%, #0000 90%);
  width: 2px;
  height: 150px;
  position: absolute;
  border-top-right-radius: 45%;
  top: 40%;
  right: -1;
  transform: translate(-50%);
}


.step6Divider {
  width: 70px;
  height: 1px;
  background-color: #e7bd65;
  margin-bottom: 24px;
}

.step6Description {
  color: #fff5e2;
  max-width: 280px;
  font-family: 'Playfair Display', serif;
  margin-left: 20px;
  font-size: clamp(16px, 1.5vw, 18px);
  max-width: 300px;
  line-height: 1.5;
  margin-top: 30px;
}

/* Also extend step 4 exit logic to match the chain */
.stepFourExitUp {
  opacity: 0;
  top: -50%;
  transform: translate(-50%, -50%);
  transition: all 2s cubic-bezier(0.76, 0, 0.24, 1);
}

@media (min-width: 1650px) {
  .containerFinalStage {
    max-width: 1500px;
    width: 90%;
    gap: 60px;

  }

  .maincontainer {
    margin-left: 12%;
    max-width: 1400px;

  }

}

@media (max-width: 1100px) {
  .containerReveal {
    right: 1px;
  }

  .stepSixContainer,
  .stepFiveContainer,
  .stepFourContainer,
  .containerFinalStage {
    right: 48%;
    width: 85%;
    gap: 20px;

  }

  .imageWrapper {
    aspect-ratio: 0.9 / 1.1;
  }

  .bgcircle {
    width: 250px;
    height: 250px;
    top: 40%;
    left: -5%;
  }

  .dotgrid {
    width: 90px;
    height: 90px;
    right: 10%;
  }

  .extraordinarySection {
    padding: 0 5px 50px 0;
  }

  .step5Heading,
  .step3Heading,
  .step6Heading,
  .step4Heading,
  .rightContentLarge .headingRight {
    line-height: 12rem;
  }

  .step6Heading {
    left: 7%;
    top: -5%;
  }

  .letterspaSecontext,
  .letterspaAsec,
  .rightContentLarge .letterspaSecon {
    font-size: 20px;
    letter-spacing: 0.1rem;
    line-height: 0rem;
  }

  .letterspaAsec {
    line-height: 1.5rem;
  }

  .step6Description,
  .step5Description,
  .step4Description,
  .step3Description,
  .rightContentLarge .description {
    margin-top: 30px;
  }

  .stepSixContainer,
  .stepFiveContainer,
  .stepFourContainer,
  .stepThreeContainer {
    gap: 30px;
  }

  .diviDescripcon {
    top: 37%;
  }

  .diviStep3Descrip,
  .rightContentLarge .diviDescrip {
    top: 40%;
    padding-left: 1vw;
  }

  .step6TextScaleUp,
  .step5TextScaleUp,
  .step4TextScaleUp,
  .step3TextScaleUp,
  .rightContentLarge {
    height: 100%;
  }

  .step6Divider,
  .step5Divider,
  .step4Divider,
  .step3Divider,
  .rightContentLarge .divider {
    width: 60px;

  }

  .lettersSle {
    font-size: 4.4vw;
  }

  .step5Heading,
  .step4Heading {
    top: -5%;
    left: -1%;
  }
}

@media (max-width: 900px) {

  .step6Divider,
  .step5Divider,
  .step4Divider,
  .step3Divider,
  .rightContentLarge .divider {
    width: 50px;
  }

  .diviDescripcon {
    margin-top: 30px;
  }

  .diviStep3Descrip,
  .rightContentLarge .diviDescrip {
    margin-top: 15px;
  }

  .step6Description,
  .step5Description,
  .step4Description,
  .step3Description,
  .rightContentLarge .description {
    font-size: 17px;
    margin-left: 20px;
    line-height: 1.5rem;
  }

  .lettersIcon {
    font-size: 10px;

  }

  .diviDescripcon {
    top: 36%;
  }

  .diviDescripcon {
    padding-left: 1px;

  }
}

@media (max-width: 780px) {
  .mainthe {
    font-size: 7.8vw;
  }

  .rightContentLarge {
    height: 85%;
  }

  .thestart {
    font-size: 3.5vw;
  }

  .leftContent {
    top: 10%;
    left: 5%;
  }

  .fivenumber {
    font-size: 8vw;
    margin-top: 2vh;
    margin-left: 5px;

  }

  .minttop {
    margin-top: 5vh;
  }

  .vashitop {
    margin-top: 10vh;
    font-size: 9.5vw;
  }

  .circleV {
    font-size: 12vw;

  }

  .imageWrapper {
    aspect-ratio: 0.3 / 0.4;
  }

  .bgcircle {
    width: 250px;
    height: 250px;
    top: 40%;
    left: -5%;
  }

  .dotgrid {
    width: 90px;
    height: 90px;
    right: 10%;
  }

  .extraordinarySection {
    padding: 0 5px 30px 0;
  }

  .cornerHighlight::before {
    border-top: none;
    border-left: none;
  }

  .cornerHighlight::after {
    border-bottom: none;
    border-right: none;
  }

  .step3Heading,
  .headingRight {
    font-size: 40px;
  }

  .step5Heading,
  .step3Heading,
  .step6Heading,
  .step4Heading,
  .rightContentLarge .headingRight {
    font-size: 15vw;
    left: -2%;
    top: -13%;

  }

  .step6Heading {
    left: 8%;
  }

  .diviDescripcon,
  .diviStep3Descrip,
  .rightContentLarge .diviDescrip {
    top: 34%;
  }

  .lettersSle,
  .letterA,
  .rightContentLarge .letterspace {
    font-size: clamp(20px, 4vw, 60px);
  }

  .step6Description,
  .step5Description,
  .step4Description,
  .step3Description,
  .rightContentLarge .description {
    font-size: 15px;
    line-height: 1.3rem;
  }

  .letterspaSecontext,
  .letterspaAsec,
  .rightContentLarge .letterspaSecon {
    font-size: 17px;
  }

  .step3Description,
  .rightContentLarge .description {
    margin-top: 15px;
  }

  .lettersIcon {
    margin: 10px 0;
    font-size: 8px;
  }

  .step6Description,
  .step5Description,
  .step4Description {
    margin-top: 8px;
  }
}

@media (max-width: 690px) {
  .mainthe {
    font-size: 7.5vw;
  }

  .vashitop {
    margin-top: 8vh;
    font-size: 9vw;
  }

  .circleV {
    font-size: 15vw;
  }


  .dotgrid {
    width: 70px;
    height: 70px;
    right: 10%;
  }

}

@media (max-width: 650px) {

  .container {
    left: 55%;
    top: 60%;
    bottom: auto !important;
    right: auto;
    transform: translate(-50%, -50%) scale(0.7);
    transform-origin: center center;
    width: 90%;
    max-width: 360px;
    grid-template-columns: 1fr;
    gap: 15px;
    will-change: transform, opacity, top;
  }

  .containerHidden {
    opacity: 0;
    top: 65%;
    transform: translate(-50%, -50%) scale(0.7);
    transition: opacity 1.2s cubic-bezier(0.76, 0, 0.24, 1),
      transform 1.2s cubic-bezier(0.76, 0, 0.24, 1),
      top 1.2s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .containerReveal {
    opacity: 1;
    top: 60%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: opacity 1.8s cubic-bezier(0.76, 0, 0.24, 1),
      transform 1.8s cubic-bezier(0.76, 0, 0.24, 1),
      top 1.8s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .containerFinalStage {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1.8s cubic-bezier(0.76, 0, 0.24, 1),
      transform 1.8s cubic-bezier(0.76, 0, 0.24, 1),
      top 1.8s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .containerExitUp {
    opacity: 0;
    top: -60%;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1.8s cubic-bezier(0.76, 0, 0.24, 1),
      top 1.8s cubic-bezier(0.76, 0, 0.24, 1);
  }

  /* Image aur Text Wrapper Sizing */
  .containerFinalStage .imageWrapper,
  .containerFinalStage .imageLarge,
  .containerReveal .imageWrapper {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    transition: all 1.8s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .containerFinalStage .rightContent,
  .containerFinalStage .rightContentLarge,
  .containerReveal .rightContent {
    width: 100%;
    margin: 0 auto;
    transition: all 1.8s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .rightContentLarge {
    background-image: radial-gradient(800px at 100% 0, #0b0a09 0%, #0b0a09 5%, #0b0a09 30%, #0b0a09 40%, #0b0a09 100%);
  }

  .rightContentLarge::before {
    border: 1px solid transparent;
  }

  .rightContentLarge::after {
    background: transparent;
  }
}

@media (max-width: 650px) {

  .stepSixContainer,
  .stepFiveContainer,
  .stepFourContainer,
  .stepThreeContainer,
  .containerExitUp,
  .containerFinalStage {
    grid-template-columns: 1fr;

  }



  .step6TextScaleUp,
  .step5TextScaleUp,
  .step4TextScaleUp,
  .step3TextScaleUp,
  .rightContentLarge {
    height: auto;
    max-width: 70%;
    margin-left: 10vw;

  }

  .diviDescripcon,
  .diviStep3Descrip,
  .rightContentLarge .diviDescrip {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    margin-top: 35%;
  }

  .rightContentLarge .diviDescrip {
    margin-top: 50%;

  }

  .step6ImageExpanded,
  .step5ImageExpanded,
  .step4ImageExpanded,
  .step3ImageExpanded,
  .imageLarge {
    width: 230px;
    aspect-ratio: 0.8 / 1.02;
  }

  .dotgridtwo {
    top: 20%;
    left: 7%;
  }

  .dotALettgrid,
  .dotgrid {
    top: -90px;
    right: -20%;
  }

  .stepThreeReveal {
    opacity: 1;
    top: 55%;
    transform: translate(-50%, -50%);
    transition: all 2.2s cubic-bezier(0.76, 0, 0.24, 1) 0.3s;
  }

  .step5Heading,
  .step3Heading {
    font-size: 15vw;
    top: -15%;
    right: 2%;
  }

  .bgcircle {
    width: 220px;
    height: 220px;
    top: 35%;
    left: -5%;
  }
}


@media (max-width: 570px) {
  .mainthe {
    font-size: 7vw;
  }

  .thestart {
    font-size: 3.5vw;
  }

  .vashitop {
    margin-top: 8vh;
    font-size: 8vw;
  }

  .circleV {
    line-height: 5rem;

  }

  .bgcircle {
    width: 180px;
    height: 180px;
    top: 30%;
    left: -5%;
  }

  .containerReveal {
    bottom: 15%;
  }

  .diviDescripcon,
  .diviStep3Descrip,
  .rightContentLarge .diviDescrip {
    margin-top: 38%;
  }

  .step6Description,
  .step5Description,
  .step4Description,
  .step3Description,
  .rightContentLarge .description {
    margin-top: 5px;
  }

  .step6TextScaleUp,
  .step5TextScaleUp,
  .step4TextScaleUp,
  .step3TextScaleUp,
  .rightContentLarge {
    max-width: 80%;
  }

  .step5TextScaleUp {
    padding-left: 0px;

  }

  .step6Divider,
  .step5Divider,
  .step4Divider,
  .step3Divider,
  .rightContentLarge .divider {
    width: 30px;
  }

  .step3Heading,
  .step4Heading,
  .rightContentLarge .headingRight {
    left: 2%;
  }

  .step6Heading {
    left: 5%;
  }

  .step6TextScaleUp,
  .step4TextScaleUp,
  .step3TextScaleUp,
  .rightContentLarge {
    margin-left: 8vw;
  }

  .step5TextScaleUp {
    margin-left: 5vw;

  }

  .step6Description,
  .step5Description,
  .step4Description,
  .step3Description {
    margin-left: 0px;
  }

  .rightContentLarge .description {
    margin-left: 12px;
  }

  .letterspaAsec {
    line-height: 1.2rem;
  }

  .diviDescripcon,
  .diviStep3Descrip {
    padding-right: 20px;
  }
}

@media (max-width: 440px) {
  .mainthe {
    font-size: 7.2vw;
  }


  .step3TextScaleUp {
    padding-left: 0px;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .imageWrapper {
    max-width: 220px;
  }

  .bgcircle {
    width: 0px;
    height: 0px;
    border: none;
  }

  .dotgridtwo {
    width: 100px;
    height: 70px;
    top: 30%;
    left: 7%;
  }

  .thestart {
    font-size: 4vw;
  }

  .minttop {
    margin-top: 4vh;
  }

  .vashitop {
    margin-top: 6.5vh;
    font-size: 7.8vw;
  }

  .leftContent {
    top: 2%;
    left: 1px;
  }

  .extraordinarySection {
    padding: 0px 0px 10px 0px;

  }

  .circleV {
    font-size: 17vw;
    line-height: 5rem;

  }

  .containerReveal {
    bottom: 23%;
  }

  .step6TextScaleUp,
  .step4TextScaleUp,
  .step3TextScaleUp {
    max-width: 85%;
  }

  .step5TextScaleUp,
  .rightContentLarge {
    max-width: 90%;
  }

  .diviDescripcon {
    margin-top: 42%;
  }
}

@media (max-width: 375px) {

  .step3Heading,
  .step6Heading,
  .step4Heading,
  .rightContentLarge .headingRight {
    top: -18%;
    left: 5%;
  }

  .step6Heading {
    left: 10%;
  }

  .diviStep3Descrip {
    right: -20px;

  }

  .diviStep3Descrip {
    margin-top: 40%;
  }
}