.quoteSection {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  color: #c9b89a;
  padding: 120px 200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
  align-items: center;
  box-sizing: border-box;
  z-index: 4;
  transform: scale(0.75);
  transform-origin: center top;
  border-radius: 40px;
  will-change: transform, top, border-radius;
  transition: border-radius 3.5s cubic-bezier(0.2, 1, 0.2, 1);
}

.quoteSection.sectionEnterActive {
  animation: quoteSectionSlideUp 3.5s cubic-bezier(0.2, 1, 0.2, 1) forwards;
}

@keyframes quoteSectionSlideUp {
  0% {
    top: 100vh;
    transform: scale(0.75);
    border-radius: 40px;
  }

  35% {
    top: 100vh;
    transform: scale(0.50);
    border-radius: 40px;
  }

  100% {
    top: 0vh;
    transform: scale(1);
    border-radius: 0px;
  }
}

.quoteSection.sectionExitReverse {
  animation: quoteSectionSlideDownReverse 4.5s cubic-bezier(0.2, 1, 0.2, 1) forwards;
}

@keyframes quoteSectionSlideDownReverse {
  0% {
    top: 0vh;
    transform: scale(1);
    border-radius: 0px;
  }

  65%,
  100% {
    top: 100vh;
    transform: scale(0.50);
    border-radius: 40px;
  }
}

.quoteSection.sectionStaticActive {
  top: 0vh;
  transform: scale(1);
  border-radius: 0px;
}

.author {
  font-size: 44px;
  font-weight: 300;
  color: #b9a684;
  margin: 0 0 16px;
}

.divider {
  width: 60px;
  height: 1px;
  background: #c9b89a;
  margin-bottom: 18px;
}

.role {
  font-size: 12px;
  letter-spacing: 3px;
  color: #b9a684;
  text-transform: uppercase;
}


.quoteRight {
  position: relative;
  font-size: clamp(24px, 4.5vw, 55px);
  font-weight: 200;
  line-height: 1.4;
  color: #d3c4a8;
  max-height: 7.2em;
  overflow-y: auto;
  padding-right: 15px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  font-family: "NeueRegradeRegular";

}

.quoteRight::-webkit-scrollbar {
  width: 4px;
}

.quoteRight::-webkit-scrollbar-track {
  background: transparent;
}

.quoteRight::-webkit-scrollbar-thumb {
  background: #c9b89a;
  border-radius: 10px;
}

.quoteMark {
  font-family: Georgia, serif;
  font-size: 140px;
  color: #c9b89a;
  line-height: 0.6;
  display: block;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .quoteSection {
    grid-template-columns: 1fr;
    padding: 80px 28px;
  }
}