@import url('https://fonts.googleapis.com/css2?family=Junge&family=Plus+Jakarta+Sans:wght@300;400;500;600&display=swap');

.badge {
  position: fixed;
  top: 1.5rem;
  left: 1rem;
  z-index: 999;
  width: 6.4rem;
  height: 6.4rem;
  color: #fff;
  pointer-events: none;
  mix-blend-mode: difference;
}

.badgeRing {
  width: 100%;
  height: 100%;
  will-change: transform;
  /* GPU render booster to prevent lag */
}

.badgeRing text {
  font-family: 'Junge', serif;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.2em;
  word-spacing: 0.3rem;
  fill: #fff;
}

.badgeLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  pointer-events: auto;
}


.rail {
  text-transform: uppercase;
  position: fixed;
  left: 1rem;
  top: 35%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 0.62rem;
  font-weight: 700;
  letter-spacing: 0.2em;
}
.nextnum,
.railCount {
  font-family: "Bodoni Moda", serif;
  font-size: 0.85rem;
  letter-spacing: 0.1em;
  background: linear-gradient(110deg,
      #80601d 0%,
      #b98f2c 25%,
      #fcea93 50%,
      #b98f2c 75%,
      #80601d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.nextnum{
margin-top: -0.5rem;
}
.railLine {
  width: 2px;
  height: 14rem;
  background: rgba(246, 241, 231, 0.2); /* Base un-filled line color */
  position: relative;
  overflow: hidden;
  border-radius: 2px;

  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
}

.railLineProgress {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    #80601d 0%,
    #b98f2c98 25%,
    #fcea93c3 50%,
    #b98f2cdc 75%,
    #80611dcf 100%
  );
  will-change: height;
}
.railLabel {
  text-transform: uppercase;
  writing-mode: vertical-rl;
  letter-spacing: 0.35em;
  color: rgba(246, 241, 231, 0.75);
  color:#fffae2;
}

.railArrow {
  width: 1px;
  height: 2rem;
  background: linear-gradient(110deg,
      #80601d 0%,
      #b98f2c 25%,
      #fcea93 50%,
      #b98f2c 75%,
      #80601d 100%);
  position: relative;
  animation: drift 2.4s ease-in-out infinite;
}

.railArrow::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -3px;
  width: 7px;
  height: 7px;
  border-right: 1px solid #b98f2c;
  border-bottom: 1px solid #b98f2c;
  rotate: 45deg;
}