.hero {
    position: relative;
    overflow: hidden;
    isolation: isolate;
    background: #020202;
    color: oklch(0.23 0.035 266);
    min-height: 100vh;
}

.landscape {
    position: absolute;
    inset: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.EVOverlay {
    position: absolute;
    inset: 0;
    z-index: -1;
    background:
        linear-gradient(180deg,
            #020202 0%,
            #020202c5 10%,
            #03050f00 30%,
            #02020215 90%,
            #020202 100%),
        linear-gradient(to right,
            #020202 0%,
            rgba(5, 12, 24, 0.899) 15%,
            rgba(5, 12, 24, 0.371) 40%,
            rgba(5, 12, 24, 0) 70%),

        radial-gradient(ellipse at right center,
            #02020200 0%,
            #020202 95%);
    pointer-events: none;
}

.topbar {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 36px 3.55% 0;
    font-family: "Cormorant Garamond", Georgia, serif;
    font-weight: 600;
}

.wordmark {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    letter-spacing: .37em;
    white-space: nowrap;
}

.brandRule,
.locationRule {
    display: inline-block;
    height: 1px;
    width: 80px;
    background: oklch(0.73 0.1 75 / 55%);
}

.location {
    display: flex;
    align-items: center;
    gap: 10px;
    color: oklch(0.95 0.018 75);
    font-family: var(--font-jura);
    font-size: 10px;
    font-weight: 600;
    letter-spacing: .4em;
    white-space: nowrap;
}

.locationRule {
    width: 40px;
    background: oklch(1 0 0 / 37%);
}

.content {
    position: relative;
    width: 100%;
    padding: 3rem 7rem;
}

.headline {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: var(--font-theSeasons);
    font-size: clamp(44px, 4.3vw, 68px);
    font-weight: 400;
    line-height: .98;
    letter-spacing: 0.1em;
    margin-top: 2%;
    color: oklch(0.95 0.018 75);
}

.headline span {
    display: block;
}

.headline .secondLine {
    margin-left: 6.5%;
}

.headline em {
    background-image: linear-gradient(180deg, #fff3b3 0%, #e2c275 30%, #b98f2c 70%, #684f13 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
}

.shortRule {
    display: block;
    width: 62px;
    height: 1px;
    margin: 10px 0 25px 11.1%;
    background-image: linear-gradient(180deg, #fff3b3 0%, #e2c275 30%, #b98f2c 70%, #684f13 100%);
}

.intro {
    margin-left: 12px;
}

.intro p {
    margin: 0;
    font-family: var(--font-theSeasons);
    font-size: clamp(13px, 1.1vw, 1.1rem);
    font-weight: 200;
    letter-spacing: .085em;
    line-height: 1.56;
    color: oklch(95.343% 0.0164 70.405);
}

.poem {
    display: flex;
    flex-direction: column;
    margin-top: -12px;
    font-family: var(--font-amsterdamFour);
    letter-spacing: 0.2rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    transform-origin: top left;
    margin-left: 14%;
}

.poem span {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 18px;
    margin-top: -12px;
    margin-bottom: -15px;
    background-image: linear-gradient(180deg, #fff3b3 0%, #e2c275 30%, #b98f2c 70%, #684f13 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.signoff {
    margin-top: 45px;
    margin-left: 12px;
}

.signoff p {
    margin: 0;
    font-family: var(--font-cormorant);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .35em;
    color: oklch(88.962% 0.03316 74.729);
}

.signature {
    font-family: var(--font-amsterdamFour);
    font-size: 2.5rem;
    line-height: 6rem;
    letter-spacing: 0.2rem;
    color: oklch(88.962% 0.03316 74.729);
}

.signatureRule {
    display: block;
    width: 80px;
    height: 1px;
    margin-left: 76px;
    background: #c99c76;
}

.mobile {
    display: none;
}

.desktop {
    display: flex;
}

/* ==========================================
   TABLET RESPONSIVE STYLES (max-width: 1024px)
   ========================================== */
@media (max-width: 1024px) {
    .content {
        padding: 2.5rem 12vw;
    }

    .headline {
        font-size: clamp(32px, 5vw, 48px);
        white-space: normal;
    }

    .headline .secondLine {
        margin-top: 8px;
    }

    .poem {
        margin-top: 5px;
        font-size: 2.1rem;
        line-height: 2rem;
    }



    .signature {
        line-height: 6rem;
        font-size: 2.2rem;
    }


}

@media (max-width: 640px) {

    .topbar {
        padding: 20px 20px 0;
        justify-content: flex-end;
    }

    .location {
        font-size: 8px;
        letter-spacing: 0.2em;
    }

    .locationRule {
        width: 24px;
    }

    .content {
        padding: 2rem 1.25rem 1rem 4rem;
    }

    .headline {
        font-size: clamp(26px, 6vw, 6vw);
        letter-spacing: 0.05em;
        line-height: 1.1;
    }

    .shortRule {
        width: 45px;
    }

    .intro {
        margin-left: 0;
    }

    .intro p {
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.07em;
    }

    .intro br {
        display: none;
    }

    .poem {
        margin-left: 0;
        margin-top: 12px;
        font-size: 1.6rem;
        line-height: 1.5rem;
    }

    .poem span {
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .signoff {
        margin-top: 30px;
        margin-left: 0;
    }

    .signoff p {
        font-size: 11px;
        letter-spacing: 0.2em;
    }

    .signature {
        font-size: 1.8rem;
        line-height: 5rem;
    }

    .signatureRule {
        margin-left: 45px;
        width: 60px;
    }


}

@media (max-width: 500px) {
    .hero {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }

    .EVOverlay {
        background:
            linear-gradient(180deg,
                #020202 0%,
                #020202c5 10%,
                #03050f00 30%,
                #020202c5 90%,
                #020202 100%),
            linear-gradient(to right,
                rgb(5, 12, 24) 0%,
                rgba(5, 12, 24, 0.855) 10%,
                rgba(5, 12, 24, 0.618) 40%,
                rgba(5, 12, 24, 0.008) 70%),

            radial-gradient(ellipse at right center,
                #02020200 0%,
                #02020200 95%);
        pointer-events: none;
    }

    .topbar {
        padding: 26px 3rem 0rem 15vw;
        justify-content: start;
    }

    .content {
        padding: 2rem 1.25rem 1rem 15vw;
    }

    .location {
        gap: 5px;
        background-image: linear-gradient(180deg, #fff3b3 0%, #e2c275 30%, #b98f2c 70%, #684f13 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-style: normal;
        letter-spacing: 0.3em;
        font-size: 9px;
    }

    .locationRule {
        width: 70px;
        background: linear-gradient(90deg, #fff3b3 0%, #e2c275 30%, #b98f2c 70%, #684f13 100%);
        height: 0.5px;
    }

    .mobile {
        display: flex;
    }

    .desktop {
        display: none;
    }

    .headline .secondLine {
        margin-left: 7.4rem;
    }

    .landscape {
        object-position: right center;
    }

    .shortRule {
        width: 50px;
        height: 2px;
        margin: 10px 0 15px 7.4rem;
        background-image: linear-gradient(90deg, #fff3b3 0%, #e2c275 30%, #b98f2c 70%, #684f13 100%);
    }

    .headline {
        font-size: 30px;
        letter-spacing: 0.05em;
        line-height: 1.1;
    }

    .headline em {
        font-size: 32px;
    }

    .intro p {
        font-size: 13px;
        line-height: 1.2;
        font-family: var(--font-jura);
        color: oklch(97.934% 0.00275 84.3);
        max-width: 16rem;
        letter-spacing: 0.05em;
        max-width: 70vw;
    }

    .poemMob {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
        gap: 0.8rem;
    }

    .introPoem {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    .introIcon {
        padding: 0.4rem;
        border-radius: 50%;
        border: 1px solid #ffc05c;
    }

    .IconInner {
        font-size: 15px;
        color: #eedbca;
    }

    .intrlabel {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .intrlabel h1 {
        color: #facf6a;
        font-family: var(--font-cormorant);
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 0.1rem;
        line-height: 0.8rem;
    }

    .intrlabel p {
        font-size: 12px;
        font-family: var(--font-cormorant);

    }

    .poem {
        margin-left: 25%;
        margin-top: 12px;
        font-size: 1.6rem;
        line-height: 0.9rem;
    }

    .poem span {
        padding-top: 25px;
        padding-bottom: 18px;
        margin-top: -12px;
        margin-bottom: -20px;
    }

    .signoff {
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .signoff p {
        font-size: 14px;
        letter-spacing: .2em;
    }

    .signature {
        display: inline-block;
        background-image: linear-gradient(180deg, #fff3b3 0%, #e2c275 30%, #b98f2c 70%, #684f13 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-style: normal;
        padding-left: 0.2rem;
        margin-left: 0.2rem;
        margin-top: 0.5rem;
        font-size: 2.2rem;
    }

}

@media (max-width: 436px) {
    .topbar {
        padding: 26px 3rem 0rem 2rem;
        justify-content: start;
    }

    .content {
        padding: 2rem 1.25rem 1rem 2rem;
    }

    .intro p {
        line-height: 1.3;
        max-width: 100vw;
    }

    .headline {
        font-size: 7.5vw;
        letter-spacing: 0.05em;
        line-height: 1.1;
    }
  .headline em{
        font-size: 8vw;
    }
    .headline .secondLine {
        margin-left: 7rem;
    }

    .shortRule {
        margin: 10px 0 15px 7rem;
    }
}

@media (max-width: 390px) {
    .topbar {
        padding: 26px 3rem 0rem 1.7rem;
        justify-content: start;
    }

    .content {
        padding: 2rem 1.25rem 1rem 1.7rem;
    }

    .headline {
        font-size: 7.7vw;
    }

    .headline em {
        font-size: 8.4vw;
    }

    .headline .secondLine {
        margin-left: 6.4rem;
    }

    .shortRule {
        margin: 10px 0 15px 6.5rem;
    }
}

@media (max-width: 375px) {


    .headline {
        font-size: 7.4vw;
    }

    .headline em {
        font-size: 8vw;
    }

    .headline .secondLine {
        margin-left: 5.5rem;
    }

    .shortRule {
        margin: 10px 0 15px 5.5rem;
    }
}