.hero {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: end;
    padding-top: 6rem;
    overflow: hidden;
}

.bg {
    position: absolute;
    inset: 0px 0 0;
    z-index: 0;
}

.bgImage {
    object-fit: cover;
    object-position: top center;
}

.bgOverlayBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(to bottom,
            transparent 0%,
            rgba(245, 243, 238, 0) 50%,
            rgba(245, 243, 238, 0.701) 75%,
            #f5f3ee 100%);
    z-index: 1;
}

.bottTextCont {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    position: relative;
    color: #0b0b0b;
    height: 100%;
    width: 100%;
    justify-content: end;
    gap: 20px;
    will-change: transform;
    z-index: 2;
    margin-bottom: 3%;
}

.botomtext,
.parabottom {
    font-size: 40px;
    width: 100%;
    margin-left: 15%;
    font-family: "Cinzel", serif;
    font-weight: 600;
}

.thirdline {
    margin-left: 20%;
}

.botomtext {
    font-size: 20px;
    text-align: center;
    margin-left: 0%;

}
