.hero {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: end;
    padding-top: 6rem;
    overflow: hidden;
}

/* Outer Parent Container */
.outerWrapper {
    position: relative;
    width: 100%;
    min-height: 200vh;
    /* Dono sections ko adjust karne ke liye full height */
    overflow: hidden;
}

/* Common Background Image wrapper */
.bgWrapper {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.bgImage {
    max-width: none;
    object-fit: cover;
    object-position: center top;
    pointer-events: none;
}

.bgOverlayBottom {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
            transparent 0%,
            rgba(245, 243, 238, 0.688) 50%,
            rgba(245, 243, 238, 0.845) 85%,
            #FFFFF7 100%);
    z-index: 1;
}

/* Hero Section Styles */
.hero {
    position: relative;
    z-index: 2;
    /* Content overlay/bg ke upar dikhega */
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    padding-top: 6rem;
}

.bottTextCont {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #0b0b0b;
    width: 100%;
    margin-bottom: 3%;
}

.parabottom {
    font-size: 40px;
    font-family: "Cinzel", serif;
    font-weight: 600;
    text-align: center;
}

.bottTextCont {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #0b0b0b;
    width: 100%;
    margin-bottom: 3%;
}

.botomtext,
.parabottom {
    font-size: 40px;
    font-family: "Cinzel", serif;
    font-weight: 600;
}

.thirdline {
    margin-left: 20%;
}

.botomtext {
    font-size: 20px;
    text-align: center;
    margin-left: 0%;

}

@media (max-width: 1130px) {
    .bgImage {
        object-fit: contain;
    }
}

@media (max-width: 1080px) {
    .outerWrapper {
        min-height: 191vh;
    }



}

@media (max-width: 1000px) {
    .outerWrapper {
        min-height: 200vh;
    }

    .bgImage {
        object-fit: cover;
    }

    .parabottom {
        font-size: 30px;
    }

}

@media (max-width: 768px) {

    .parabottom {
        font-size: 25px;
    }

}

@media (max-width: 425px) {

    .parabottom {
        font-size: 20px;
        padding: 0 10px;
    }

}